* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

main {
    padding: 64px 158px;
    padding-bottom: 368px;
    background-color: #FFFFFF;
}

section {
    max-width: 1604px;
    width: 100%;
    height: 2108px;
    padding: 96px;
    background-color: #E2F7FF;
}

